node_modules
bin
.idea

#Hardhat files
cache
artifacts
typechain/
typechain-js/
.env

# OpenZeppelin
.openzeppelin/dev-*.json
.openzeppelin/unknown-*.json
.openzeppelin/.session
coverage/
coverage.json
